.sidebar{
    min-height: 100vh;
    transition: width 0.4s, background-color 2s;
    animation: slideIn 0.4s ease-in-out;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f4f9;
    padding: 25px 15px;
}
.sidebar .top{
    display: flex;
    flex-direction: column;
}
.sidebar img{
    cursor: pointer;
    width: 1.1rem;
}
.sidebar .menu{
    display: block;
    margin-left: 0.5rem;
    cursor: pointer;

}
.sidebar .new-chat{
    margin-top: 3rem;
    display: inline-flex;
    align-items: center;
    gap: 0.6rem;
    padding: 10px 15px;
    background-color: #e6eaf1;
    border-radius: 3.2rem;
    font-size: 1rem;
    color: gray;
    cursor: pointer;
}
.sidebar .recent{
    display: flex;
    flex-direction: column;
    animation: fadeIn 1.5s;
}

.sidebar .recent-title{
    margin-top: 2rem;
    margin-bottom: 1.2rem;
}

.sidebar .recent-entry{
    display: flex;
    align-items: center;
    gap: 0.6rem;
    padding: 0.6rem;
    /* padding-right: 3.3rem; */
    border-radius: 3rem;
    color: #282828;
    cursor: pointer;
}

.sidebar .recent-entry:hover{
    background-color: #e2e6eb;
}
.sidebar .bottom{
    display: flex;
    flex-direction: column;
    
}
.sidebar .bottom-items{
    padding-right: 0.6rem;
    cursor: pointer;

}

@media (max-width: 600px){
    .sidebar{
        display: none;
    }
}